body {
	padding: 30px;
	background-color: #282c34;
	color: white;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

p:last-child,
ul:last-child {
	margin-bottom: 0;
}

/*
 * App
 */
.App {
	display: grid;
	grid-template-columns: 7fr 20px 3fr;
	grid-template-rows: auto 30px auto 40px auto;
	grid-template-areas:
		"header           header        header"
		".                .             ."
		"category-list    category-list category-list"
		".                .             ."
		"trailer-explorer none          watch-later-list";
}

/*
 * Header
 */
header {
	grid-area: header;
}

header h1 {
	margin: 0;
}

header p {
	margin-top: 0;
	font-style: italic;
}


/*
 * Category List
 */

.category-list {
	grid-area: category-list;
}

.category-list h2 {
	margin: 0;
}

.category-list ul {
	display: flex;
	margin-top: 5px;
}

.category-list li {
	margin-right: 10px;
}

.category-list button:disabled {

}


/*
 * Trailer Explorer
 */
.trailer-explorer {
	grid-area: trailer-explorer;
}

.trailer-controls {
	text-align: center;
	margin: 0 0 15px 0;

	/* animation/transition/subtle fade when click prev/next buttons */
}


/*
 * Watch Later Queue
 */
.watch-later-list {
	grid-area: watch-later-list;
}

.watch-later-list h3 {
	margin-top: 0;
}


.watch-later-list a {
	color: white;
	text-decoration: none;
	line-height: 1.6em;
}
